@value mainColor, mainColorHover, mainColorText, mainShadow from '../../common/colors.css';

.section {
	display: flex;
	justify-content: center;
}

.editor {
	width: 60vw;
	padding: 1rem;
}

.title {
	width: 100%;
	border: none;
	resize: none;
	font-size: 2.5rem;
	border-bottom: 1px solid gray;
	margin-top: 2rem;
	padding: 0.1rem;
}

.title:hover {
	outline: none;
}

:is(.title, .font_text, .color_code, .description):focus {
	outline: none;
}

.content {
	padding: 1rem;
}

:is(.main_logo, .sub_logo, .pattern, .color, .font) p {
	font-size: 1.7rem;
	margin-top: 2rem;
}

.logo{
    display: flex;
}

.main_logo, .sub_logo{
    width: 50%;
}

.main_logo > img, .sub_logo > img,
.pattern > img {
	border: 1px solid gray;
	margin: 1rem;
	display: block;
}

:is(.main_logo, .sub_logo, .pattern, .color, .font) button, .save, .cancel {
	padding: 8px;
	cursor: pointer;
	border: 1px solid mainColor;
	border-radius: 5px;
	background-color: mainColor;
	color: mainColorText;
	margin-left: 1rem;
}

.font_text {
	border: none;
	font-size: 3rem;
	padding: 1rem;
}

.color_code{
    border: none;
    border-bottom: 1px solid gray;
    width : 30rem;
    padding : 0.4rem;
    margin : 0.7rem 0 0.7rem 0.7rem;
}

.description {
    margin-top: 2rem;
    font-size : 1.2rem;
	resize: none;
	width: 100%;
	border: none;
}

.menu{
    display: flex;
    justify-content: flex-end;
    margin-bottom : 2rem;
}

.menu button{
    padding : 10px;
}