@value mainColor, mainColorHover, mainColorText, mainShadow from '../../common/colors.css';

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding : 1rem 3rem ;
    box-shadow: mainShadow;
}

.logoimg{
    width: 120px;
}

.logout{
    padding : 10px;
    cursor: pointer;
    border : 1px solid mainColor;
    border-radius: 5px;
    background-color : mainColor;
    color :mainColorText;
}

.logout:hover{
    background-color : mainColorHover;
}

.content{
    width : 80vw;
    display: flex;
    justify-content: space-between;
}